body {
    background-color: #38444d;
    color: white;
    font-family: Sans-Serif;
}

#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}

#myDiv {
    background-color: #15202b;
    margin: 2px;
    border-radius: 25px;
    border: 1px solid #fff4a3;
}

h3 {
    margin: 3px;
    padding: 20px;
}